.column {
    float: left;
    padding: 10px;
}
  
.left {
    width: 20%;
}
.navigation{
    height: 100%;
    top: 25%;
    z-index: 1;
}
.right {
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding: 0%;
    float: none;
  }
  .right {
    width: 100%;
}
  .left{
      width: 100%;
  }
  .navigation img{
      display: none;
  }
  .navigation{
    overflow: auto;
    white-space: nowrap;
    opacity: 0;
  }
  .left ul{
    display: inline-block;
    text-align: center;
  }
}
.left ul li{
    list-style: none;
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 10px;
}
.left ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bolder;
}
.left ul li a:hover{
    color: whitesmoke;
}
.left img{
    border-radius: 5%;
    height: 150px;
    width: 150px;
    box-shadow: gray 0px 0px 10px 10px;
}
.left img:hover{
    padding-bottom: 10px;
    padding-left: 10px;
}
.right .name{
    font-family: 'Merienda One', cursive;
}
.right .h3{
    font-family: 'Merienda One', cursive;
    padding-bottom: 30px;
}
.right .h3 a{
    text-decoration: none;
}
.intro{
    padding-top: 100px;
    padding-bottom: 100px;
}
.message{
    font-family: 'Roboto Mono', monospace;
}
.short-intro{
    font-size: larger;
}
.brief-intro{
    font-size: larger;
    padding-bottom: 30px;
}
.social-handles{
    font-size: 30px;
}
.social-handles a{
    text-decoration: none;
}
.social-handles i{
    background-color: gray;
    color:black;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
}
.social-handles i:hover{
    background-color:#E5C154;
}
.sub-heads{
    padding-bottom: 50px;
}
.experience img{
    border:0.115rem solid ;
    z-index: 1;
    margin-top:10px;
}
.experience{
    padding-bottom: 80px;
}
.student{
    padding-bottom: 80px;
}
.hacktivist{
    padding-bottom: 80px;
}
.contact{
    padding-bottom: 80px;
}
.gallery{
    padding-bottom: 80px;
}
.wisewords{
    padding-bottom: 80px;
}
.wiseword{
    font-family: 'Satisfy', cursive;
}
/* Carousel */
#carousel {
    width:800px;
    height: 300px;
    display: relative;
  }
  #carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
    height: 350px;
  }