<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@100&family=Pacifico&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b4f3944b48.js"></script>
    <title>My Personal Website - Kehinde Totoola</title>
</head>
<body>
    <div class="container-fluid row">
        <div class="column left" style="background-color:#E9ECEF;">
          <div class="navigation text-center position-fixed">
            <!-- <img src="files/head-shot.jpg" alt="kehinde photo" class="img-fluid"> <br> -->
          <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#experience">Programming</a></li>
              <li><a href="#student">Education</a></li>
              <li><a href="#hacktivist">Hacktivist</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#resume">Resume</a></li>
          </ul>
          </div>
          
          
        </div> <!-- First Column Having the Navigations -->
        <div class="column right">
          <div id="about" class="intro container">

          <div class="display-3 name">KEHINDE <span style="color: #E5C154;">TOTOOLA</span></div>
          <div class="h3">Lagos, Nigeria· <br><a href="mailto:totoolakenny@gmail.com">Totoolakenny@gmail.com</a></div>

          <p class="short-intro message">Hi! 👋🏾 My Lord!, May I? If I May! Just Permit me to introduce myself! <br></p>

          <p class="brief-intro message">I am Kehinde Totoola fondly called <b>Kenny</b>.I am a 19 year old programmer/change maker/global citizen. I refer to myself as a <b>technology inclusiveness
            advocate</b> as a result of my community building activities. I am actively committed to making community impacts. I write codes for the web. I am mostly writing backend
            systems for web technologies and web applications. I’m always inquisitive to learn,
            practice and implementing new technologies. In my spare time, I am in schools
            in my community teaching teenagers and other peers how to code.</p>

          <div class="social-handles row container">
            <a href="https://www.linkedin.com/in/kehinde-totoola-982b13175/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/totoolakehinde/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.github.com/totoola-kehinde"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://web.facebook.com/horlartundey.totoola"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/ktotoola"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div> <!--Social Media Links-->
                          
        </div> <!--Kenny's Intro Section-->

        <hr>

        <div id="experience" class="experience container">
          <div class="display-4 sub-heads">
            PROGRAMMING 👨‍💻
          </div>
          <div class="h3" style="color: gray;">
            Education + Experience
          </div>
          <div class="row">
          <div class="p message col-lg-8">In 2016, I was introduced to a coding training organized by <a href="https://teenscancode.com.ng" target="_blank"> Teens Can Code</a> by a classmate in my school. A non-profit organization that's dedicated to bringing technology closer to students. I fell in love with coding the first time I learned it. I learned the basics of web development. I volunteered with Teens Can Code in training other students from different schools. <br>
            I reached thousands of students through volunteering as a coding tutor. Reached students from different schools and different communities. Also had the opportunity of sharing my story at a <a href="http://teenscodeconference.com.ng" target="_blank"> tech conference</a> sitting thousand of students. <br>
            In ensuring inclusiveness, I volunteered in the HOUR OF CODE program implemented in Nigeria in training kids how to program using scratch(a game-like programming tool used to learn how coding works).
            I facilitated <a href="http://g.co/csfirst" target="_blank"> Google CS first</a> programs, a program to set up computer science foundation for kids. I personally reached a huge number of students through this program across various states in Nigeria. <br>
          Learning code and my committment in impacting my community has opened doors to opportunities, getting me featured on <a href="https://students.googleblog.com/2019/03/black-history-month-pay-it-forward.html" target="_blank"> Google's blog</a> and being selected as an <a href="https://www.bellanaija.com/2019/04/kennedy-ekezie-josephs-africave-announces-23-african-teenagers-for-inaugural-fellowship/" target="_blank"> Africave fellow!</a>
          <div class="h3" style="color: gray;">
            Programming Languages         
          </div>
          <div class="languages">
            <div class="message">HTML5, Python, PHP, JavaScript, MongoDB</div>
          </div>
          
        </div>
          <div class="col-lg-4">
            <img src="{{url_for('static', filename='files/kenny_and_ade.jpg')}}" alt="Kenny and Ade Coding" class="img-fluid rounded">
            <figcaption class="figure-caption">Kenny and Ade Coding</figcaption>
            <img src="{{url_for('static', filename='files/kenny_speaking.jpg')}}" alt="Kenny Speaking at a conference" class="img-fluid rounded">
            <figcaption class="figure-caption">Kenny Sharing his coding experience at Teens Code Conference</figcaption>
          </div>
          </div>

        </div> <!-- Experience Section -->

        <hr>

        <div id="student" class="student container">
          <div class="display-4 sub-heads">
            STUDENT 👨‍🎓
          </div>
          <div class="h3">
            QUEENMARIS COLLEGE
            <div class="h4" style="color: gray;">SSCE</div>
            <div class="h6 message">
            Year: 2018
            </div>
          </div>
          <div class="h3">
            LAGOS STATE UNIVERSITY
            <div class="h4" style="color: gray;">Bachelor's Degree</div>
            <div class="h6 message">
            Major: Economics(Undergraduate)
            </div>
          </div>

        </div> <!--Student Section-->

        <hr>

        <div id="hacktivist" class="hacktivist container">
          <div class="display-4 sub-heads">
            HACKTIVIST ✊🏾
          </div>
          <div class="row">
          <div class="col-lg-6">
            <div class="message">
              Before the outbreak of the COVID-19 pandemic, I already had great impact records. For the <a href="https://microbit.org/do-your-bit/" target="_blank"> Microsoft Annual DoYourBit Challenge</a>, I have trained hundreds of kids from different schools on how to use a microBit to be eligible to take part in the competition. <br>
            </div>
            <img src="{{url_for('static', filename='files/kenny_training.jpg')}}" alt="Kenny Training Kids on Microbit" class="img-fluid rounded">
            <figcaption class="figure-caption">Kenny Training Kids on Microbit</figcaption>
            

          </div>
          <div class="col-lg-6">
            <img src="{{url_for('static', filename='files/kenny_networking.jpg')}}" alt="" class="img-fluid rounded">
            <figcaption class="figure-caption">Sharing my coding story and networking</figcaption>

            <div class="message">
              In 2019, I and the Teens Can Code team travelled to Abuja for the World Largest Lesson conference. Teens Can Code had a partnership to preach the 17 Sustainable Goals across all states in Nigeria.
            </div>

          </div>

          </div>

        </div> <!--Hacktivist Section -->

        <hr>

        <div id="wisewords" class="wisewords container">
          <div class="display-4 sub-heads">
            Wise Men 📧
          </div>
          <div class="h3">
            Moments with Experts is worth years of experience!
          </div>

          <div class="text-center justify-content-center">

            <!-- Prints An Error Message If There is Any! -->
            {% if error != None %}

            <div class="error-message">
              {{ error }}
            </div> <!-- Error Message -->

            {% else %}

            <!-- Load Wiseword contents from MongoDB To Carousel -->

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="card">
                    <div class="card-header">
                      Wisewords
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0 wiseword">
                        <p>Just Testing If This Works Fine and Proper.</p>
                        <footer class="blockquote-footer">
                          Anonymous
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card-footer text-muted">
                      Some Days Ago
                    </div>
                  </div>

                </div> <!-- First Carousel Item with class "active" -->
                {% for wiseword in allwords %}
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-header">
                      Wisewords
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0 wiseword">
                        <p>{{wiseword.wiseword}}.</p>
                        <footer class="blockquote-footer">
                          {% if wiseword.anonymous == True %}
                          Anonymous
                          {% else %}
                          {{wiseword.user}}
      
                          {% endif %}
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card-footer text-muted">
                      {{wiseword.daytime}}
                    </div>
                  </div> <!-- End Of Wisewords Call From MongoDB -->
                </div> <!-- Carousel Item -->
                {% endfor %}
              </div>
              <a class="carousel-control-prev text-primary bg-dark" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-primary bg-dark" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> <!-- Carousel -->

            {% endif %}

          </div>

          <hr style="width: 70%;">

          <!-- Wisewords Form -->
          <form method="POST">
            <legend>Are you an Expert? Share your legendary words!</legend>
            {{form.hidden_tag()}}
          <div class="form-group">
            <label for="name">{{form.name.label()}}</label>
            {{form.name(class='form-control')}} <br>
              <label for="wiseword">{{form.wiseword.label()}}</label>
              {{form.wiseword(rows='5', class='form-control')}} <br>
            <div class="form-check">
              <label class="form-check-label">
                {{form.stayanonymous(class='form-check-input')}}
                {{form.stayanonymous.label()}}
              </label>
            </div>
            {{form.submit(class='btn btn-primary')}}
          </div>
          </form>

        </div> <!-- Wisewords Section -->

        <hr>

        <div id="contact" class="contact container">
          <div class="display-4 sub-heads">
            Contact 📧
          </div>
          <div class="h3">
            Shoot An Email
            <div class="h4" style="color: gray;"><a href="mailto:totoolakenny@gmail.com?subject=Let's Work Together">Totoolakenny@gmail.com</a></div>
          </div>

        </div> <!-- Contact Section -->

        <hr>

        <div id="resume" class="resume container">
          <div class="display-4 sub-heads text-center">
            <a href="files/KehindeResume.pdf" target="_blank"> Resume 💼</a>
          </div>

        </div> <!-- Download Resume -->

        </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/jquery.waterwheelCarousel.min.js')}}"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#carousel").waterwheelCarousel({
            // include options like this:
            // (use quotes only for string values, and no trailing comma after last option)
            // option: value,
            // option: value
          });
          $('.carousel').carousel({
          interval: 2000
        });
        });
      </script>
    
</body>
</html>